
src/Client/CSharp/.vs/EnglishDict/v16/.suo
src/Client/CSharp/EnglishDict/bin/
src/Client/CSharp/EnglishDict/bin/Debug/
src/Client/CSharp/EnglishDict/bin/Release/
src/Client/CSharp/EnglishDict/obj/
src/Client/CSharp/EnglishDict/obj/Debug/
src/Client/CSharp/EnglishDict/obj/Release/
